name: Lighthouse CI
on: 
  pull_request:
      branches:
        - master
jobs:
  lighthouse:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Audit URLs using Lighthouse
        uses: treosh/lighthouse-ci-action@v9
        env:
          URL_DOMAIN: 'www.niagahoster.co.id'
        with:
          urls: |
            https://$URL_DOMAIN/
            https://$URL_DOMAIN/afiliasi
          configPath: '.github/lighthouse/lighthouserc.json'
          budgetPath: '.github/lighthouse/mobile-budget.json'
          uploadArtifacts: true
          temporaryPublicStorage: true
